@import url(https://fonts.googleapis.com/css?family=Halant:400,600);
h1, h2, a, p{
  font-family: 'Halant', serif;
  font-size: 24px;
  color: #DFE2DB;
  margin: 0px 10px ;
}

h2, a{
  font-size: 18px;
  color: #DFE2DB;
}

p,ol,li{
  font-family: 'Halant', serif;
  font-size: 16px;
  color: #DFE2DB;
}

html,
body {
  background: #191919;
  margin: auto;
}